body {
    padding: 2em;
}

/*titles*/
.col h3 {
    color: #000000;
}

label {
    color: #000000;
}

/*side bar*/
.ant-tree-title {
    font-size: 16px;
    margin-left: .5em;
}
.col-3 {
    background-color: #f3f3f3;
}

/*nav bar*/
.navbar-nav .nav-link {
    color: #000000; 
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

/*cards*/
.card-title {
    color: #609F72
}

.card-text {
    color: #000000;
}

.card-body {
    background-color: #f3f3f3;
}

.card-body h6 {
    color: #609F72;
}

h1 {
    color: #000000;
}

/*home*/

.home-title {
    color: #000000;
}

.home-text {
    color: #000000;
}

.home-card {
    background-color: #aa6e6e
}

/*Card*/