body {
    padding: 2em;
}

/*titles*/
.col h3 {
    color: #000000;
}

label {
    color: #000000;
}

/*side bar*/
.ant-tree-title {
    font-size: 16px;
    margin-left: .5em;
}
.col-3 {
    background-color: #f3f3f3;
}

/*cards*/
.global-rank-card {
    color: #609F72;
    text-align: center; 
}
.global-card-title {
    color: #609F72;
    text-align: center;
    font-size:x-large;
/* line-height: 50px; */
}

.global-card-text {
    color: #609F72;
    text-align: center;
}

.card-title {
    color: #609F72
}

.card-text {
    color: #000000;
}

.card-body {
    background-color: #f3f3f3;
}

.card-body h6 {
    color: #609F72;
}

h1 {
    color: #000000;
}
